<!DOCTYPE html>
<html>
  <head>
    <title>Open Source Generation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'  %>
  </head>

  <body>
    <header style="text-align: center">Open Source Generation</header>
    <%= yield %>
  </body>
</html>
